.statistics {
  width: 300px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px 1px rgb(112, 104, 104);
}

.title {
  margin: 26px 0;
  text-align: center;
  text-transform: uppercase;
  color: #475965;
}

.statlist {
  height: 60px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-right: 40px;
}

.item {
  list-style: none;
  text-align: center;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 5px;
}

.label {
  font-size: 12px;
  color: #ffffff;
  margin-bottom: 8px;
}

.percentage {
  font-size: 15px;
  color: #ffffff;
}
